<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ZX Front-end Boilerplate Portal</title>
    </head>

    <body>
        ${require('../fragments/header/index.html')}
        <nav>
            <ul class='menu'>
                <li>
                    <a href="#/sample">sample</a>
                </li>
                <li>
                    <a href="#/portal">portal</a>
                </li>
            </ul>
        </nav>
        <div id='view'></div>
        ${require('../fragments/footer/index.html')}
    </body>

</html>